<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim rem, cumque sit aliquid molestias iste dolores sequi quasi inventore corporis accusamus provident aut neque eaque tenetur id facere numquam natus!</p>
    <a href="../index.html"> Página principal </a>  
</body>
</html>
